{% extends "MSIUserBundle::loginlayout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}          

    <div class="login-content">
        <h1><b>ESSENTIEL</b><b style="color:#3B9796;">CHURCH</b></h1>
        <p> {{ 'security.login.text'|trans }} <a href="{{ url('fos_user_registration_register') }}"  class="forget-password">{{ 'security.login.register'|trans }} </a></p>

        <form action="{{ path("fos_user_security_check") }}" class="login-form" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />    

                {# On affiche les messages flash que définissent les contrôleurs du bundle #}
                {% for key, message in app.session.flashbag.all() %}
            <div class="alert alert-{{ key }}">
                <button class="close" data-close="alert"></button>
                <span>{{ message|trans({}, 'FOSUserBundle') }}</span>
            </div>
                {% endfor %}

                {% if error %}
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
                {% endif %}

            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required/> </div>
                <div class="col-xs-6">
                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required/> </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="rem-password">
                        <p>{{ 'security.login.remember_me'|trans }}
                            <input type="checkbox" class="rem-checkbox"  id="remember_me" name="_remember_me" value="on"/>
                        </p>
                    </div>
                </div>
                <div class="col-sm-8 text-right">
                    <div class="forgot-password">
                        <a href="{{ url('fos_user_resetting_request') }}"  class="forget-password">{{ 'resetting.request.title'|trans }}</a>
                    </div>
                    <button class="btn blue" type="submit" id="_submit" name="_submit" >{{ 'security.login.submit'|trans }}</button>
                </div>
            </div>
        </form>
    </div>    
                    
{{ render(controller("MSIUserBundle:Setting:loginBackground")) }}

{% endblock fos_user_content %}