<div class="tab-pane {% if pwdActif  %} active {% endif %}" id="tab_1_3">
     {{ form_start(formPwd, { 'action': path('msi_user_profile_edit_password') }, form_enctype(formPwd)) }}
    {{ form_errors(formPwd) }}
    <div class="form-group">
            {{ form_errors(formPwd.current_password) }}
            {{ form_label(formPwd.current_password, null , {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(formPwd.current_password, {'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group">
            {{ form_errors(formPwd.plainPassword.first) }}
            {{ form_label(formPwd.plainPassword.first, null , {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(formPwd.plainPassword.first, {'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group">
            {{ form_errors(formPwd.plainPassword.second) }}
            {{ form_label(formPwd.plainPassword.second, null , {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(formPwd.plainPassword.second, {'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="margin-top-10">
            {{ form_widget(formPwd.update, {'attr': {'class': 'btn green '}}) }}
    </div>
    {{ form_end(formPwd) }}
</div>
