{# empty Twig template #}

<div class="form-inline" >
    <div class="form-group col-md-3">
        {{ form_label(form.lastname, null , {'label_attr': {'class': 'control-label col-md-3 '}}) }}
        <div class="col-md-9">
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control '}}) }}
        </div>
    </div>
    <div class="form-group col-md-2">
        {{ form_label(form.firstname, null , {'label_attr': {'class': 'control-label col-md-3 '}}) }}
        <div class="col-md-9">
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control '}}) }}
        </div>
    </div>

    <div class="form-group col-md-5">
        {{ form_label(form.birth, null , {'label_attr': {'class': 'control-label col-md-3 '}}) }}
        <div class="col-md-9">
            {{ form_errors(form.birth) }}
            {{ form_widget(form.birth.day,{'attr':{'class':'bs-select form-control input-small', 'data-style' : 'btn-info', 'tabindex' : '1'}}) }}
            {{ form_widget(form.birth.month,{'attr':{'class':'bs-select form-control input-small', 'data-style' : 'btn-info', 'tabindex' : '2'}}) }}
            {{ form_widget(form.birth.year,{'attr':{'class':'bs-select form-control input-small', 'data-style' : 'btn-info', 'tabindex' : '3'}}) }}
        </div>
    </div>
    <div class="form-group col-md-2">
        {{ form_label(form.sex, null , {'label_attr': {'class': 'control-label col-md-3 '}}) }}
        <div class="col-md-8 md-radio-inline">
            {% for radio_button in form.sex %}
                {{ form_errors(radio_button) }}
                <div class="md-radio  has-success">
                    {{ form_widget(radio_button, {'attr':{'class':'md-radiobtn' }}) }}
                    <label for="{{ radio_button.vars.id }}">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> {{ radio_button.vars.label | raw }}
                    </label>
                </div>
            {% endfor %}

        </div>
    </div>
</div>