{% extends "MSICoreBundle::layout.html.twig" %}

{% block body %}
    <div class="portlet light portlet-fit portlet-datatable col-md-12" id="form_wizard_1">
        <div class="portlet-title">
            <div class="caption">
                <i class=" fa fa-users font-green"></i>
                <span class="caption-subject font-green sbold uppercase"> {{ 'msi.core.admin.users.comment'|trans({}, 'Admin') }} </span>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                <thead>
                    <tr>
                        <th class="table-checkbox">
                            <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" /> 
                        </th>
                        <th>{{ 'msi.core.admin.users.lastname'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.firstname'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.role'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.birth'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.address'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.email'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.phone'|trans({}, 'Admin') }}</th>
                        <th>{{ 'msi.core.admin.users.action'|trans({}, 'Admin') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in listUsers %}
                        <tr class="odd gradeX">
                            <td><input type="checkbox" class="checkboxes" value="1" /></td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if role=='ROLE_SUPER_ADMIN' %}
                                        <span class="label label-sm label-danger"> Super Administrateur </span>&nbsp;
                                    {% elseif role=='ROLE_ADMIN' %}
                                        <span class="label label-sm label-warning"> Administrateur </span>&nbsp;
                                    {% elseif role=='ROLE_PASTEUR' %}
                                        <span class="label label-sm label-success"> Pasteur </span>&nbsp;
                                    {% elseif role=='ROLE_SECRETAIRE' %}
                                        <span class="label label-sm label-success"> Secretaire </span>&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </td>    
                            <td>{{ user.birth|date('d/m/Y') }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.phone %}
                                    <a href="javascript:;" class="btn btn-circle btn-xs blue"> {{ user.phone }}
                                        <i class="fa fa-phone"></i>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% if user.mobile %}
                                    <a href="javascript:;" class="btn btn-circle btn-xs purple"> {{ user.mobile }}
                                        <i class="fa fa-mobile"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td>                                
                                <a href="{{ path('msi_core_admin_users')}}" class="nav-link ">
                                    <a href="javascript:;" class="btn btn-circle btn-icon-only blue">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </a>
                                <a class="nav-link ">
                                    <a href="{{ path('msi_user_admin_user_edit', {'id':  user.id} ) }}" class="btn btn-circle btn-icon-only red">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var translations = {
            showNumberLigne : '{{ 'msi.core.admin.users.show' | trans({}, 'Admin') }}',
        }
    </script>
{% endblock %}
