{% trans_default_domain 'FOSUserBundle' %}


<h3>{{ 'msi.user.registration.signup'|trans({}, 'Register') }} </h3>
<p> {{ 'msi.user.registration.signup.subtitle'|trans({}, 'Register') }} </p>
{% for message in app.session.flashbag.get('info_user_add') %}
    <div class="form-group">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>{{ 'msi.user.register.flash'|trans({}, 'Register') }}</strong> {{ message }}
        </div>
    </div>
{% endfor %}
{{ form_start(form, { 'action': path('fos_user_registration_register'), 'attr': { 'role': 'form', 'class':'form-horizontal form-bordered', 'id' : 'form-register' } }, form_enctype(form)) }}


<div class="form-group {% if not form.username.vars.valid %} has-error{% endif %}">

    {{ form_label(form.username, null , {'label_attr': {'class': 'control-label visible-ie8 visible-ie9 '}}) }}
    {% if not form.username.vars.valid %}
        <div class="input-icon right input-group">

            <i class="fa fa-warning tooltips" data-original-title="{{ 'msi.user.register.username.error'|trans({}, 'Register')  }}" data-container="body"></i>
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>
            {{ form_widget(form.username, {'attr': {'class': 'form-control placeholder-no-fix', 'placeholder': 'Username'}}) }} 
        </div>
        <span class="help-block">
            {{ form_errors(form.username) }}
        </span>
    {% else %}
        <div class='input-group input-icon right'>
            <span class="input-group-addon">
                <i class="icon-user"></i>
            </span>
            <i class="icon-exclamation-sign"></i>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control placeholder-no-fix', 'placeholder': 'msi.user.registration.username'|trans({}, 'Register')}}) }}
        </div>
    {% endif %}
</div>


<div class="form-group {% if not form.email.vars.valid %} has-error{% endif %}">

    {% if not form.email.vars.valid %}
        <div class="input-icon right input-group">

            <i class="fa fa-warning tooltips" data-original-title="{{ 'msi.user.register.email.error'|trans({}, 'Register')  }}" data-container="body"></i>
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>



            {{ form_widget(form.email, {'attr': {'class': 'form-control  placeholder-no-fix'}}) }} 
        </div>
        <span class="help-block">
            {{ form_errors(form.email) }}
        </span>
    {% else %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>
            {{ form_widget(form.email, {'attr': {'class': 'form-control  placeholder-no-fix', 'placeholder': 'msi.user.registration.email'|trans({}, 'Register')}}) }}
        </div>
    {% endif %}
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Language</label>
    {{ form_widget(form.locale, {'attr': {'class': 'select2 form-control'}}) }}
</div>
<div class="form-group">
    {{ form_errors(form.plainPassword.first) }}
    <div class="input-icon">
        <i class="fa fa-lock"></i>
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control placeholder-no-fix'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_errors(form.plainPassword.second) }}
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-check"></i>
        </span>
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control '}}) }}
    </div>
</div>

<div class="form-group">
    <label>
        <input type="checkbox" name="tnc" required /> {{ 'msi.user.registration.agree'|trans({}, 'Register')  }}
        <a href="javascript:;"> {{ 'msi.user.registration.terms'|trans({}, 'Register')  }}</a> {{ 'msi.user.registration.and'|trans({}, 'Register')  }}
        <a href="javascript:;"> {{ 'msi.user.registration.privacy'|trans({}, 'Register')  }}</a>
    </label>
    <div id="register_tnc_error"> </div>
</div>
<div class="form-actions">
    <a href="{{ url('fos_user_security_login') }}" class="btn grey btn-default"><i class="fa fa-reply"></i></a>
    <button type="submit"  class="btn green pull-right">{{ 'registration.submit'|trans }}</button>
</div>


{{ form_end(form) }}






