<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>{{ 'msi.user.register.title'|trans({}, 'Register')  }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/font-awesome/css/font-awesome.min.css') }}"rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/simple-line-icons/simple-line-icons.min.css') }}"rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap/css/bootstrap.min.css') }}"rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/uniform/css/uniform.default.css') }}"rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}"rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{ asset('public/global/plugins/select2/css/select2.min.css') }}"rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/select2/css/select2-bootstrap.min.css') }}"rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('public/global/css/components-md.min.css') }}"rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('public/global/css/plugins-md.min.css') }}"rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{{ asset('public/pages/css/login-3.min.css') }}"rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="{{ asset('public/pages/img/logo-big.png')}}"alt="" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN REGISTRATION FORM -->
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            <!-- END REGISTRATION FORM -->
        </div>
        <!-- END LOGIN -->
        {% block add_js %}
            <!--[if lt IE 9]>
    <script src="{{ asset('public/global/plugins/respond.min.js')}}"></script>
    <script src="{{ asset('public/global/plugins/excanvas.min.js')}}"></script> 
    <![endif]-->
            <!-- BEGIN CORE PLUGINS -->
            <script src="{{ asset('public/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('public/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/autosize/autosize.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{{ asset('public/global/plugins/jquery-validation/js/jquery.validate.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/jquery-validation/js/additional-methods.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('public/global/plugins/select2/js/select2.full.min.js')}}" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{{ asset('public/global/scripts/app.min.js')}}" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
                    <script src="{{ asset('public/pages/scripts/components-register-out.js') }}" type="text/javascript"></script>

            <script src="{{ asset('public/pages/scripts/register-user.js') }}" type="text/javascript"></script>
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <!-- END THEME LAYOUT SCRIPTS -->
            <script  type="text/javascript">

                jQuery(document).ready(function () {

                    function format(state) {
                        if (!state.id) {
                            return state.text;
                        }
                        var $state = $(
                                '<span><img src="{{ asset('public/global/') }}/img/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
                                );

                        return $state;
                    }

                    if (jQuery().select2 && $('#fos_user_registration_form_locale').size() > 0) {
                        $("#fos_user_registration_form_locale").select2({
                            placeholder: '<i class="fa fa-map-marker"></i>&nbsp;{{ 'msi.user.registration.select.lang'|trans({}, 'Register')  }}',
                            templateResult: format,
                            templateSelection: format,
                            width: 'auto',
                            escapeMarkup: function (m) {
                                return m;
                            }
                        });


                        $('#fos_user_registration_form_locale').change(function () {
                            $('.register-form').validate().element($(this)); //revalidate the chosen dropdown value and show error or success message for the input
                        });
                    }

                });
            </script>
        {% endblock %}
    </body>

</html>













