{% extends "MSICoreBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file-text-o font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">{{ 'msi.pastoral.card.report.title.title'|trans({}, 'Pastoral') }}</span>
                    </div>
                </div>
                <!-- fiche de compte rendu n°1 -->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            1. {{ 'msi.pastoral.card.report.title'|trans({}, 'Pastoral') }}
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title="{{ 'msi.members.members.search.updown'|trans({}, 'Members') }}"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ 'msi.pastoral.card.report.4'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-10">
                                                <label control-label>Exemple de pasteur</label>
                                                </br>
                                                </br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ 'msi.pastoral.card.report.2'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-10">
                                                <label control-label>Exemple de sujet</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label col-md-3 " for="">{{ 'msi.pastoral.card.report.1'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-6">
                                                <label control-label>Exemple de date</label>
                                            </div>
                                            </br>
                                            </br>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label col-md-3 ">{{ 'msi.pastoral.card.report.3'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-8">
                                                <label control-label>:)</label>
                                                </br>
                                                </br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'msi.pastoral.new.report.description.2'|trans({}, 'Pastoral') }}</label>
                                        <div class="col-md-10">
                                            <label control-label>
                                                Lorem ipsumdolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                                                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fiche de compte rendu n°2 -->  
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            2. {{ 'msi.pastoral.card.report.title'|trans({}, 'Pastoral') }}
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title="{{ 'msi.members.members.search.updown'|trans({}, 'Members') }}"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ 'msi.pastoral.card.report.4'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-10">
                                                <label control-label>Exemple de pasteur</label>
                                                </br>
                                                </br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ 'msi.pastoral.card.report.2'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-10">
                                                <label control-label>Exemple de sujet</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label col-md-3 " for="">{{ 'msi.pastoral.card.report.1'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-6">
                                                <label control-label>Exemple de date</label>
                                            </div>
                                            </br>
                                            </br>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label col-md-3 ">{{ 'msi.pastoral.card.report.3'|trans({}, 'Pastoral') }}</label>
                                            <div class="col-md-8">
                                                <label control-label>:)</label>
                                                </br>
                                                </br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'msi.pastoral.new.report.description.2'|trans({}, 'Pastoral') }}</label>
                                        <div class="col-md-10">
                                            <label control-label>
                                                Lorem ipsumdolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                                                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}